<div class="container">
  <div class="header">
    <h2>Ressources Disponibles</h2>
    <div class="filters">
      <!-- Button to download PDF -->
      <button mat-button (click)="downloadAllRessourcesPDF()" class="download-btn">
        Télécharger PDF
      </button>
      
      <!-- Search Bar -->
      <input 
        type="text" 
        [(ngModel)]="searchText" 
        (input)="searchRessourceByName()"
        placeholder="Rechercher par nom" 
        class="search-bar" 
      />
      
      <!-- Filter by Type -->
      <select [(ngModel)]="selectedTypeId" (change)="filterByType()">
        <option [value]="null">Tous</option>
        <option *ngFor="let type of types" [value]="type.id">{{ type.nom }}</option>
      </select>
    </div>
  </div>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ressource of filteredRessources">
        <td>{{ ressource.nom }}</td>
        <td>{{ ressource.quantite }}</td>
      </tr>
    </tbody>
  </table>
</div>


  
  