<div class="container">
  <div class="header">
    <h2>Ressources Disponibles</h2>
    <div class="filters">
      <!-- Search Bar -->
      <input 
        type="text" 
        [(ngModel)]="searchText" 
        (input)="searchRessourceByName()"
        placeholder="Rechercher par nom" 
        class="search-bar" 
      />
      <!-- Filter by Type -->
      <select [(ngModel)]="selectedType" (ngModelChange)="filterByType()">
        <option value="">Filtrer par Type</option>
        <option *ngFor="let type of uniqueTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
  </div>

  <table class="custom-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Action</th> <!-- Replace 'Type' with Action for the button -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ressource of filteredRessources">
        <td>{{ ressource.nom }}</td>
        <td>{{ ressource.quantite }}</td>
        <td>
          <!-- Button to download PDF -->
          <button mat-button (click)="downloadPDF(ressource)" class="download-btn">
            Télécharger PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


  
  